body {
    background-color: #000000;
    color: #ffffff;
}
a {
    color: #ffffff
}
.block {
    background-color: #0f0f77;
    margin: 10px;
    padding: 20px;
}
.blockinside {
    background-color: #000000;
    margin: 10px;
    padding: 10px;
}
#headerblock {
    display: grid;
    grid-template-columns: 70% 30%;
}
#header {
    display: grid;
    grid-template-rows: auto auto;
}
#navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
}
#navigation div p {
    text-align: center;
}

/* homepage */

#sixfirstnew {
    display: grid;
    grid-template-columns: 50% 50%;
}
.previewandlink {
    display: grid;
    grid-template-columns: auto auto;
}
.previewandlink a {
    align-content: center;
    text-align: right;
}

/* PostPage */

#mdcontent {
    padding-top: 10px;
}